[2018-05-11 21:14] samridh90 opened #2 "Extension should offer to install the "opa" executable when it's not found"
Right now, it shows an error message asking the user to install the executable and ensure the $PATH is set correctly.
A better UX would be to offer to install similar to how the vscode-go extension offer to and install missing go-tools (https://github.com/Microsoft/vscode-go/blob/master/src/goInstallTools.ts).

[2018-05-11 21:14] samridh90 commented on #2
I can open a PR for this if it makes sense having such a feature.

[2018-05-14 21:52] PrasadJayakumar opened #3 "Filepath issue in Windows"
I was not able to execute "OPA: Evaluate Package" command from VSCode Windows version.  I was getting
the following error

"open /d:/MYLOCALPATH/HelloWorld/input.json: The filename, directory name, or volume label syntax is incorrect."

There is an extra slash "/" which the command didn't like.  I happened to do a dirty fix, but served the purpose

Edited "extension.ts" line 215.  Did a substring(

[2018-05-15 05:06] samridh90 commented on #2
This is turning out to be harder to implement than I expected.
Right now, I'm thinking about defining a new user setting in VS code called `opa.path`. Once the OPA binary is downloaded from Github releases, I'll set the `opa.path` setting to the path to which the binary was downloaded. If the user wants to move the package, they'd get a prompt to set `opa.path` to the correct path. The order of ev

[2018-05-15 15:59] tsandall commented on #3
Thanks! I'll test this out and tag on your on the PR.

[2018-05-15 16:02] tsandall commented on #2
Adding an `opa.path` variable to the VS Code configuration sounds good to me.

[2018-05-15 17:18] tsandall commented on #3
Fixed in cbbc683954eee592614811d735383198d9324da3. I've published a new version of the extension to the marketplace (v0.0.3).

[2018-05-15 17:18] #3 closed

[2018-05-16 01:36] samridh90 commented on #2
#4 opened to fix this

[2018-05-18 15:04] #2 closed

[2018-06-05 20:10] tsandall opened #6 "check-on-save feature is only passing current file to check command"
The check-on-save feature is only passing the current file to the check command. This results in false-positives if two Rego files contribute to the same package and one file refers to symbols in the other.

[2018-07-31 12:17] jowe opened #8 "#docs Clarify input.json usage"
The readme should contain the info that the input file mus be named input.json
and that it must be in the root of the workspace. Correct?

Thx for OPA and this plugin!

[2018-07-31 12:19] jowe opened #9 "opa.path does not work on windows"
I didn't manage to get opa.path to work on windows.
It looks to me that the command-exists module does not work for this usecase.

[2018-07-31 16:46] #8 closed

[2018-07-31 16:47] tsandall commented on #9
Thanks for filing this. If you have a suggestion for how to resolve it, feel free to submit a PR or post here.

[2018-09-04 20:17] #6 closed

[2018-11-08 05:16] tsandall opened #10 "Make query selection more evident in output"
If you run multiple queries back to back that produce the same answer, it's difficult to tell when evaluation has finished and the latest result is being displayed. One way to tell is to look at the query evaluation time (which typically differs by a few microseconds) however this is non-obvious.

One option would be to include the query selection in the output comment to indicate what query was r

[2019-01-05 23:36] teq0 opened #12 "Add config setting to specify folders containing rego"
Currently opa is passed the workspace root as the path. This means that anything that opa doesn't understand, such as Kubernetes YAML files, show up as problems in the workspace, which is particularly annoying when it checks every time you save a file.

I propose adding a section to the config to specify one or more folders where rego is stored, creating a method that returns the list of rego fold

[2019-01-06 00:37] tsandall commented on #12
@teq0 thanks for filing this!

This issue has come up in the past in a different place: when you use any of the subcommands like `opa test` or `opa run` or ... it'll try to load all of the files contained in specified directories, recursively. While this works fine in dirs/repos/workspaces that are "pure", it falls over in the more common case.

One idea I've been kicking around is to add support

[2019-01-06 03:32] teq0 commented on #12
I'm happy to have a go at it if you agree with the idea.

Actually --ignore seems to be common to all commands, might be simpler to specify the --ignore parameters.

[2019-01-06 03:37] teq0 commented on #12
That's sounds like a better idea. Happy to have a go at adding that instead.

[2019-01-06 16:07] tsandall commented on #12
Perfect. We can close this issue once the changes are merged into OPA.

[2019-01-11 17:48] 425devon opened #13 "Evaluate Selection Not Working"
Evaluate Selection is not functioning. I cloned the repo from Kubecon 2018 and tried to follow the [demonstration](https://youtu.be/Vdy26oA3py8?t=747)

* All rules are returning default of false
* Unable to evaluate attributes i.e
Selecting:
`input.method = "GET"`
with input.json:
[code]
Evaluate selection returns:
output.json
`//No results found`

_Small side note the test.rego is working fine_

[2019-01-11 18:57] tsandall commented on #13
Hrmmm. The only thing I can think of that could be going wrong is that you have your VS Code opened in the root of the demo repository. You'll need to make sure you open it in the hands-on dir since that's where the input.json file is located. You could confirm this by selecting something trivial like "GET" and evaluating that.

[2019-01-11 19:15] 425devon commented on #13
You are absolutely correct, I was in the root directory. After moving to the directory containing the .rego and input.json everything is working as expected.
I appreciate the quick response! This was driving me nuts.

[2019-01-11 19:15] #13 closed

[2019-02-05 22:22] morgante commented on #12
@tsandall I think the .opaignore file is a nice addition but I still think we should have some way of ignoring this in the extension itself.

Context: I work on a large project which contains many different components. Only one small subcomponent includes OPA so adding an .opaignore high in the hierarchy would be an unwelcome change. Fundamentally I only want the OPA extension to invoke on a very

[2019-02-06 07:11] teq0 commented on #12
Actually I've finally started making some progress on https://github.com/open-policy-agent/opa/issues/1087 and I've realised that it's not clear where it should look for the .opaignore file. But I'll comment over there.

[2019-02-06 15:46] tsandall commented on #12
@morgante that's reasonable. I don't think these solutions are mutually exclusive. Since the .opaignore solution is widely applicable, I'd still like that to be the preferred approach.

In cases where users are VS Code in a large monorepo workspace and don't have permission to add an .opaignore file at the root or update the VCS's ignore file, the VS Code specific configuration would be nice to ha

[2019-03-04 03:13] usmanibnesadiq commented on #9
@jowe I had a lot of trouble with that as well but I resolved it by renaming the opa executable to only "opa.exe" and adding the path of executable to "PATH" environment variable. Or you can create a local settings file under .vscode folder and put this:
{
    "opa.path": "Drive:\\Folder_Containing_Opa.exe"
}

[2019-03-04 03:16] usmanibnesadiq opened #14 "FindFirstFile : The system cannot find the path specified"
Ok here is the setup. On my C drive, I have a folder named "Policies" and inside that there is one rego file and one input.json file. No matter what command I try, I keep getting this error:

**_FindFirstFile \Policies: The system cannot find the path specified._** I have tried placing input.json a level above but to no avail. Any quick ideas how can I run "Evaluate Selection" Or "Check File Synta

[2019-03-04 16:40] tsandall commented on #14
@usmanibnesadiq I haven't seen that error before. This sounds like something Windows-specific or perhaps specific to your environment. It sounds like a file open operation is failing. Perhaps a file path is not being supplied properly.

[2019-03-05 00:13] usmanibnesadiq commented on #14
Hello Torin, thanks for getting back. Yes this is happening on Windows in VS Code. I am not sure where I need to provide a file path. Ok to troubleshoot and learn from you, I have created a very very simple repo here [https://github.com/usmanibnesadiq/sample-rego]

It just has one policy (.rego) and one input.json file. If you clone this and open this as folder/workspace in VSCode on windows, and

[2019-03-05 00:38] tsandall commented on #14
@usmanibnesadiq I will take a look in the next day or so. I'm a bit busy right now but will definitely get to it this week. In the mean time, if you can use Mac OS or Linux it should work fine.

[2019-03-08 19:10] #9 closed

[2019-03-11 01:37] usmanibnesadiq commented on #14
Hello Torin, has the extension been updated with this fix? I re-installed the extension, cleared vscode extensions cache but still getting the same issue. any thoughts? Thanks,

[2019-03-11 01:43] tsandall commented on #14
oops, @usmanibnesadiq,  I will reopen this. I wasn't able to reproduce this specific issue, however, I was able to fix the "opa.path" configuration issue. The extension was working fine inside a Windows 10 VM.

[2019-04-30 05:52] yordis opened #15 "Can't install REPL"
I installed the extension and I keep getting this issue.

[code]

OS: MacOS
VSCode: `Version 1.33.1 (1.33.1)`

[2019-04-30 23:04] tsandall commented on #15
@yordis I'm not sure what's happening here. It looks like the opa executable download failed and then inside the error handling path, `startsWith` was called and the extension threw a TypeError.

However, the extension itself never calls `startsWith` so I think that error is coming from inside vscode or perhaps the extension, i.e., not vscode-opa itself. As such, there's not much that I can do abo

[2019-04-30 23:04] #15 closed

[2019-05-09 17:21] jutley opened #16 "Allow configuration for disabling syntax checking on save"
Since I have VS Code configured to autosave files, every change I make cases syntax to be checked. I find this quite irritating as I use the integrated terminal, and each change navigates me away from that terminal.

It would be nice to be able to turn off the automatic syntax checking, and only run it when we want to.

[2019-05-28 22:17] tsandall commented on #16
@jutley thanks for filing this! Sorry for the delayed response. KubeCon EU took up a bunch of my time. I've pushed a change to master that makes check-on-save optional and off-by-default. v0.2.3 of the extension will contain it.

[2019-05-28 22:17] #16 closed

[2019-07-16 16:40] tsandall opened #17 "Tool tips for built-in functions"
It would be really nice if we could pop-up tool tips for built-in functions in Rego. This would require some work in upstream OPA to avoid falling out-of-sync. E.g., upstream OPA could publish a built-in function registry with parameter descriptions.

[2019-07-25 12:39] tsandall opened #18 "Add support for overriding the workspace root"
Currently the extension automatically treats the workspace root as the source of policy/data files. This is problematic in large repos because OPA will try to load .json and .rego files recursively. One option would be to allow users to override the workspace root with a more specific path. We could automate this on startup by picking the longest common prefix that contains .rego files.

[2019-09-06 22:20] timothyhinrichs opened #19 "Syntax errors are hidden on evaluation"
It's easy for users to miss syntax error warnings, and sometimes the warnings don't appear at all when running Evaluate.  People just see the dreaded "No results" and assume it's something wrong with the policy logic.

One option would be to display syntax errors in the Output.

[2019-09-06 22:23] timothyhinrichs opened #20 "Output shows no change between evaluation with No Results"
When the result of evaluation is "No Results", and the user runs 2 evaluations in a row, there is no way to know if the output has been updated or not because the output may be exactly the same across two evaluations.  This is especially problematic when the evaluation takes several seconds or even a minute.

Ideas:
- Closing the output window at the start of a new evaluation.
- Wiping the output

[2019-09-09 14:58] tsandall commented on #20
This is related to #10.

[2019-09-26 18:06] devorbitus commented on #15
I am pretty sure https://github.com/tsandall/vscode-opa/pull/22 fixes this

[2019-10-02 07:55] thirkcircus opened #23 "Bundle arg not picking up data files"
I don't know if this is an OPA bug or a vscode extension bug.  I'm on windows...

I'm trying to evaluate selection and it doesn't seem to be picking up _any_ data files.  Rego and input files are fine but data files (both yaml and json) are ignored.
Evaluating OPA at the command line works fine - data is used as part of evaluating the policy.

Afaict the vscode extension is sending
[code]
returns

[2019-10-02 14:18] patrick-east commented on #23
Out of curiosity, what are the data files called? What I'd like to rule out is whether or not this is an issue with the file/bundle loader code in OPA or if its a usability issue for us to address with the VSCode plugin.

Maybe something to clarify with the `--bundle` flag, it is treating the `file:///c%3A/some/dirs/rego` directory as the root of a bundle which means that only data files named `da

[2019-10-02 21:04] thirkcircus commented on #23
right, so that's why!
and it would seem there is no present way of telling vscode-opa to load an arbitrary data file, correct?

[2019-10-02 21:08] thirkcircus commented on #23
also interesting...

if I name the file `data.yaml` it works as expected (thanks for the reply!) but naming it `data.yml` does not.

[2019-10-02 21:09] #23 closed

[2019-10-02 21:17] patrick-east commented on #23
That is correct, and yes it specifically look for `*.yaml`. The `--data` loader will actually just try to load _any_ file and if it successfully parses it as yaml or json it considers it valid.

To add some context on the reason this was done.. The arbitrary data file loading was/is causing huge problems for anyone with rego policies in a workspace that also includes other files. In particular for

[2019-10-02 21:26] thirkcircus commented on #23
thanks, mine is a new project so I'm happy to just move forward with bundles.

however, having closed this issue, I've just noticed another problem which feels familiar (and is why I previously had to switch from windows to linux, I only moved back to running vscode on windows last week with the fixes to how vscode-opa treats windows file paths).

[code]

[2019-10-02 21:28] patrick-east commented on #23
I'll look into it while I'm working on these other changes.. will include any fix required for that along with it.

[2019-10-02 21:29] thirkcircus commented on #23
thanks, appreciated.  :)

[2019-10-03 02:06] patrick-east commented on #23
@thirkcircus I believe that https://github.com/open-policy-agent/opa/pull/1813 should fix the issue with loading bundles with windows style paths.

The other vscode plugin changes are up here: https://github.com/tsandall/vscode-opa/pull/24

Thats pretty cool that WSL is working so well, I'll definitely have give that a try. I do most of my work on a macbook but side projects I do a on windows with

[2019-10-30 16:14] tsandall commented on #12
This should be taken care of in v0.4.2 of the extension. @morgante hope this helps out!

[2019-10-30 16:14] #12 closed

[2019-10-30 16:14] #18 closed

[2020-02-07 01:29] patrick-east opened #25 "Allow for using OPA in docker image"
Rather than having the OPA binary installed locally it could be convienent to have the plugin just do `docker run`'s with the opa image and mount the workspace into the image.

This would probably require a couple of config options in the plugin. One to enable using docker and one to specify the image. Maybe we take some shortcut and only add the image, or if the path to opa is like docker:///blah

[2020-02-07 01:32] patrick-east opened #26 "Add easy way to see OPA CLI invocation parameters"
When running OPA commands with the vscode plugin it isn't always very easy to troubleshoot why something went wrong. It would be potentially easier to start to troubleshoot if the full command was more easily found in the console or something after running one of the commands.

It might be that this is already available.. if so we should document it on the plugin page somewhere.

[2020-03-10 09:49] mhausenblas opened #27 "Rules and input in sub-directory doesn't work"
I'm working on [mhausenblas/eunomia/](https://github.com/mhausenblas/eunomia/tree/master/test) and when I issue the query on the command line, in the respective sub-dir I get the expected result:

[code]
However, with the VSCode plug-in I get:

[code]

I tried to set `opa.roots` in `settings.json` to `${fileDirname}` but that didn't help either.

[2020-03-10 21:34] patrick-east commented on #27
I think things are working as intended.

The VSCode integration current looks at the workspace root for a file called `input.json` which it will use as the input for evaluations. If you open vscode only on the `./test` directory it works as expected, for example:

![image](https://user-images.githubusercontent.com/3614287/76358564-e2740880-62d6-11ea-9e60-5964c03cd5ca.png)

![image](https://user-im

[2020-03-10 21:36] patrick-east opened #28 "Allow for customizing input source"
As-is it is just `input.json` in the project root. It would be nice if we could provide arguments to a command or generate a task/run configuration that would allow for customized input file names/locations (or even just some adhoc string)

[2020-03-10 21:36] patrick-east commented on #27
I filed https://github.com/open-policy-agent/vscode-opa/issues/28 to track adding some way to provide custom input paths.

[2020-03-11 15:29] mhausenblas commented on #27
Thanks a million for the very speedy follow up and resolution, really appreciate it @patrick-east ... I shall subscribe to #28 ;)

[2020-03-11 15:29] #27 closed

[2020-05-24 11:20] itaysk commented on #28
I think a practical solution would be some file naming convention, for example, if I'm evaluating `mypolicy.rego` the extension can look for a file called `input.mypolicy.json` or `mypolicy.input.json` or whatever we decide.
WDYT? I can implement this if it sounds good solution.

[2020-05-26 19:57] patrick-east commented on #28
That would probably work, although I like the relative `input.json` approach in #30 better.

I think the main goal of this enhancement was to try and let someone customize the evaluation to take in any arbitrary path. I think while having some naming convention would work.. there will always be users and use-cases where it doesn't. I think, until we know it isn't possible, that having some ability

[2020-06-10 18:59] rickj33 opened #32 "Input.json not being found on windows"
I just installed the vscode-opa extension, version 0.6.0 and tried evaluating the rego. I get the following  error
[code]
I have the rego, data.json and input.json in the workspace folder, I tried moving all of them to a sub folder but got the same result.

I think I traced the issue to the function getInputPath() in the extension.ts file.
The parsed variable fsPath returns "C:\code\Discovery\Spik

[2020-06-11 14:16] tsandall commented on #32
I'm looking into this. It's likely related to the recent improvement to support input.json in subdirs.

[2020-06-12 14:56] tsandall commented on #32
This should be resolved in the latest version (v0.6.1). Closing for now.

[2020-06-12 14:56] #32 closed

[2020-10-27 07:19] Raghuvorkady commented on #14
Same log file is being created randomly in my windows 10 64bit machine....
Can anyone help me...

[2020-11-20 18:40] kirk-patton opened #34 "var x is unsafe"
I am finding that I can examine some variables and not others when I used the key binding OPA: Evaluate Selection.

[code]

if ```x := {"a":"b"}``` is selected and OPA: Evaluate Selection is run, I get

[code]

If ```t := x``` is selected and OPA: Evaluate Selection is run, I get
<query>: rego_unsafe_var_error: var x is unsafe

If I select ```example[t]```, and OPA: Evaluate Selection is run, I ge

[2020-11-20 18:53] tsandall commented on #34
When you select expressions inside of VS Code and run `OPA: Evaluate Selection`, the VS Code plugin is running a _query_ against the policy. For example, if you select `x := {"a": "b"}` and evaluate it, the plugin essentially runs...

[code]

And then it prints the result.

In this case, the query is `x := {"a": "b"}`. That query is syntactically and semantically valid. On the other hand, if you o

[2020-11-20 18:53] #34 closed

[2020-11-22 00:14] virgilm opened #35 "OPA: Test Workspace uses wrong flag?"
<shift>-<cmd>-P: OPA: Test Workspace gives the following output:

`
Error: unknown flag: --bundle
`
`
Usage:
  opa test <path> [path [...]] [flags]
`

Open Policy Agent ver 0.6.1

[2020-11-22 00:29] virgilm commented on #35
Never mind, using old version of opa, ignore.

[2020-11-22 00:29] #35 closed

[2021-01-17 15:50] rcbop opened #36 "Add OPA document formatter"
Register OPA DocumentFormattingEditProvider for rego filetype using `opa fmt` CLI

[2021-01-27 15:17] #36 closed

[2021-01-31 23:17] itowlson opened #39 "Installing 0.7.0 from marketplace fails with ZIP error"
I have 0.6.1 installed.  VS Code indicates that 0.7.0 is available, but when I click `Update to 0.7.0` I get a message:

`Error while updating 'Open Policy Agent' extension. Please check the log for more details.`

The log contains the following:

[code]

[2021-02-08 16:17] rawc0der opened #40 "Unable to evaluate packages - too many open files ERROR"
Hi,

I am encountering the following error in my vscode workspace if I try evaluating any packages:
[code]
Same error after changing max file descriptors on my workstation and tweaking other kernel settings.
Running the formatter works but no means to even evaluate policy fragment selection.

I am not sure if this is due to a large number of policies loaded in the `policy` folder... or if the plug

[2021-02-26 18:25] timothyhinrichs opened #41 "Toggle Evaluation Coverage fails"
The Coverage option no longer highlights the lines participating in the evaluation.

To reproduce, open a new file, add the following policy, highlight `allow`, and run `OPA: Toggle Evaluation Coverage`.  The results of evaluation get displayed in the usual Output pane, but none of the lines get highlighted.

[code]

[2021-03-02 20:35] tsandall commented on #41
Dug into this a little bit and found something odd...leaving a note here so that it's not lost.

When the extension runs `opa eval` to generate the coverage report, the subprocess looks like this:

[code]

The generated coverage report will be something like:

[code]

There are two issues here...

1. The first key `"/home/torin/scratch/vscode-exp/file:/home/torin/scratch/vscode-exp/x.rego"` is wro

[2021-05-10 08:55] aklefdal opened #44 "Cannot resolve ${workspaceFolder} in opa.path in workspace settings.json"
I'm trying to have a `settings.json` file in the workspace where I set `opa.path` to a specific `opa.exe` in the workspace.

I'm on windows, having a custom system for authorization, and I'm running the command `OPA: Test Workspace`

This works fine, all tests are run:
[code]

This does not work, only an empty OPA output window:
[code]

Note that the `opa.roots` setting works fine. If set it to a

[2021-05-14 13:46] tsandall opened #46 "Using ${fileDirname} in opa.roots resolves to a file path w/ URL encoding on windows"
If you use `${fileDirname}` in the opa.roots setting, the value resolves to a file path with URL encoded slash (0x5C) characters on windows systems. The URL encoded path gets passed to `opa eval -b` which complains that the file cannot be found.

The vscode plugin should replace URL encoded characters before invoking OPA.

[2021-05-14 13:47] tsandall commented on #44
This might be related to #46. We would have to look at the resolved path that is being used to run the subprocess.

[2021-05-20 14:47] tsandall commented on #44
OK, so `${workspaceFolder}` is only supported on `opa.roots` it's not supported on `opa.path`. That's why it doesn't work.

[2021-05-20 14:55] #46 closed

[2021-05-25 15:58] mykter commented on #41
It's also not obvious to me whether coverage is meant to be on or not - "toggle" is fine if it's clear what your current state is but if there's no indicator then you just have to hit it twice!

My failure mode is a bit different to the OP's - when I hit toggle it clears the output pane. The 'Test Workspace' command works (the output pane shows all of the tests).

[2021-05-25 16:02] mykter opened #47 "Toggle Workspace Coverage fails"
This might be a dupe of #41, but this is for Workspace coverage rather than Evaluation.

My failure mode is also a bit different to the issue described there - when I hit toggle it clears the output pane. The 'Test Workspace' command works (the output pane shows all of the tests).

The remote extension host output includes
[code]

It's also not obvious to me whether coverage is meant to be on or n

[2021-07-10 20:10] kirk-patton opened #48 "OPA + custom functions dont work in plugin"
I recently created an extension function following the instructions [here](https://www.openpolicyagent.org/docs/latest/extensions/).  My custom function works with the unit tests, and I can eval it with the resulting binary. But when I try to eval it in vsCode, I get an empty  output window. _I made sure my path put my custom opa at the beginning._

[code]

cmdLine

[code]

_I also tried setting "

[2021-07-10 20:14] kirk-patton commented on #48
<img width="1680" alt="Screen Shot 2021-07-10 at 1 13 36 PM" src="https://user-images.githubusercontent.com/3884606/125175400-ab3e9180-e180-11eb-8733-8a4c0c79ad92.png">

[2021-07-10 20:18] kirk-patton commented on #48
<img width="1674" alt="Screen Shot 2021-07-10 at 1 13 36 PM" src="https://user-images.githubusercontent.com/3884606/125175484-5f401c80-e181-11eb-8e78-356fb6ed104b.png">

[2021-07-12 21:13] tsandall commented on #48
I just tested this out myself and didn't run into any issue:
![image](https://user-images.githubusercontent.com/238885/125356508-263baf80-e31b-11eb-9a0c-de9e85e4a652.png)

If vscode is using the wrong `opa` executable, then you should see an error in the Output panel (the output on the right is stale):

![image](https://user-images.githubusercontent.com/238885/125356598-44a1ab00-e31b-11eb-82e5-e20

[2021-07-12 23:01] kirk-patton commented on #48
@tsandall  Yes, my plugin is otherwise working fine.  Unit tests pass and other policies evaluate just fine.  Before I opened the issue I tried setting "opa.path" to the stock version of OPA and then to my build to see the difference in behavior.  As you noted, if I tried to eval my function while pointed to stock, I get an error that the function is not known. When using my build, the output wind

[2021-07-12 23:02] kirk-patton commented on #48
<img width="1680" alt="Screen Shot 2021-07-12 at 3 59 50 PM" src="https://user-images.githubusercontent.com/3884606/125366211-8554f080-e32a-11eb-86df-092db6b6f96b.png">

[2021-07-12 23:56] kirk-patton commented on #48
@tsandall I installed vsCode fresh on my other mac.  I then copied the custom "opa" I built, with my function to, that mac.  I see the same issue.  When I eval my function from vsCode, no output.  When I run "opa eval ..." from the command line, I get the expected output.

[2021-07-13 15:49] kirk-patton commented on #48
I figured out the issue.  I had a debug statement in my plugin code that was using fmt.Println().  I commented it out and the plugin now returns the expected output.

<img width="1680" alt="Screen Shot 2021-07-13 at 8 47 29 AM" src="https://user-images.githubusercontent.com/3884606/125483660-25d9ce69-950f-4d2c-817f-223bc2505f73.png">

Thank you!
Kirk

[2021-07-13 15:49] #48 closed

[2021-07-13 15:51] tsandall commented on #48
Ah, glad you figured it out. Stray println statements will definitely break the VS code extension because it's parsing the output as JSON.

[2021-08-10 23:16] tsandall opened #50 "Add configuration to set environment variables for `opa` subprocess"
The extension runs `opa` as a subprocess and in some cases environment variables need to be set (e.g., for policies calling `opa.runtime()` and using the env vars to make decisions.) We should expose some configuration that lets users set a list of key/value pairs that will be passed down to `opa`.

[2021-08-10 23:27] tsandall commented on #41
This has been fixed as of OPA v0.29

[2021-08-10 23:27] #41 closed

[2021-09-22 06:45] eqvis opened #51 "Opa Configuration"
Hi,
I'm using this plugin successfully for some time now. And I miss a possibility to start OPA with a configuration (option `--config-file my-config.yml` as command line argument). Is this feature really missing or can I add this to the OPA-command-line anyhow?

Thank you for your good work!
Eqvis

PS: I want to enable logging via config-file

[2021-10-25 09:18] anderseknert opened #54 "Allow setting JSON schemas for type checking"
It would be nice if the evaluation done by the VS Code plugin would take configured JSON schemas for [type checking](https://www.openpolicyagent.org/docs/latest/schemas/) into account, and highlight errors and typos encountered in input and data, or at least just print the error output from the console.

[2022-01-07 14:04] anderseknert opened #55 "Markdown table looks broken in Marketplace"
Not sure if this is sourced automatically from the README or manually copy-pasted, but the table—which looks alright in the Github view—looks borked in the Marketplace. We should fix this for a better first impression for those that discover the plugin there.

![Screenshot 2022-01-07 at 15 01 10](https://user-images.githubusercontent.com/510711/148555092-21bcee72-c2b7-4ab5-9ac8-e810c9520bdf.png)

[2022-01-07 14:45] anderseknert opened #56 "No visual indication of error from opa.checkOnSave"
Pretty sure this used to work, but when playing around with `opa.checkOnSave` I no longer see any visual indication that there's an error returned from the check command. If I open the developer console I see that the check command has been fired, but you'd obviously want to see that in-editor.

Tried on @johanfylling's machine as well, so at least it doesn't seem to be just my config that's broke

[2022-01-10 10:20] #44 closed

[2022-01-10 20:28] #56 closed

[2022-01-12 10:54] #54 closed

[2022-01-12 16:39] anderseknert commented on #40
Hi @rawc0der 👋  And sorry for not getting back to you before!

This issue was fixed in OPA some releases back: https://github.com/open-policy-agent/opa/issues/3777, so I'll close this one as resolved, but please let me know if you're still seeing this using a recent version of OPA and I'll reopen and take a look.

[2022-01-12 16:39] #40 closed

[2022-01-14 12:32] johanfylling commented on #55
I believe this is fixed in the `master` branch. We can confirm once the next version is published.

[2022-01-14 12:47] anderseknert commented on #55
Yeah, at least if that is synced automatically from the README. Could be a manual copy-paste is needed?

[2022-01-17 20:55] johanfylling opened #63 "Add setting for toggling compiler strict mode"
The OPA `check` command has new compiler strict mode, which can be enabled through the `--strict` flag.
The plugin settings should be updated with a flag for enabling strict mode.

[2022-01-18 17:07] johanfylling commented on #55
This was fixed with the `0.10.0` release.

[2022-01-18 17:07] #55 closed

[2022-01-18 21:58] anderseknert commented on #39
I'm sorry this has remained unanswered for so long, @itowlson! I'm going to guess the problem has been solved by now, and we haven't heard from others experiencing this. Should the issue persist using the latest release, do let me know and we'll reopen and look into it, but will close this one for now.

[2022-01-18 21:58] #39 closed

[2022-02-10 15:22] #63 closed

[2022-02-10 15:25] johanfylling opened #67 "Make compiler strict mode enabled by default"
The `opa.strictMode` configuration flag should be set to `true` by default. This change should wait until the OPA error output has been updated so that strict-mode violations are more easily detected.

[2022-02-23 12:53] ytra opened #69 "No output on OPA evaluate package/selection"
OS: MacOS Monterey
VScode: 1.64.2
vscode-opa-plugin: 0.10.0 (tried 0.9.0 with same results)

VScode starts a output.json without any results. This is checked with policy files that do work in the rego playground.

[2022-02-23 13:12] anderseknert commented on #69
Hey @ytra! And thanks for reporting this. I just took a look and I seem to have the same issue.

[2022-02-25 01:34] dtandersen commented on #50
I found a workaround that works for testing:

[code]

[2022-03-08 14:05] #69 closed

[2022-03-15 21:41] tsandall commented on #50
@dtandersen that's a neat idea--rather than relying on `input` you could put it into `data` and then include it in the bundle that you distribute to your OPAs:

[code]

[2022-05-05 23:00] lrstanley opened #74 "feature: push to open-vsx.org"
Currently, it looks like this extension is only pushed to the VSCode Marketplace, however this means that wrapped/custom vscode implementations are unable to utilize this extension without manually downloading and installing it. It would be nice if it could get added to https://open-vsx.org/, to allow things like https://github.com/coder/code-server to use it.

[2022-05-09 09:33] anderseknert commented on #74
Oh, nice! Yeah, that definitely sounds like a good idea 👍

[2022-05-13 09:58] tafkam opened #75 "Install the OPA statically linked binary"
Please download the statically linked OPA binary from OPA releases.

Getting library errors with the non-statically linked binary:
./opa: /lib64/libc.so.6: version `GLIBC_2.29' not found (required by ./opa)

[2022-05-13 11:35] anderseknert commented on #75
Thanks for reporting that @tafkam ! What platform are you on? Looks like the downloader only checks for the OS and not the architecture. Quick fix would be to just download OPA yourself and put it in the path... until this is fixed properly of course :)

[2022-05-13 12:34] tafkam commented on #75
Using Rocky Linux8. Already did that quickfix manually ;-)

[2022-05-14 06:00] teq0 commented on #28
Since this issue is still open, I'd like to add a different use case. We often have rego code and related data in a project but where there are are other things as well, like go or Typescript code, deployment files and scripts etc, so it's common to put all the rego and related files in a subfolder off the project root e.g. `${workspaceFolder}/rego`, and set this in the `opa.roots` setting. This s

[2022-05-24 20:49] anderseknert commented on #17
With the next release of OPA, we'll have not just the name and argument types for the built-ins, but even the names, allowing us to provide rich documentation right in the editor. We should leverage this for a great policy authoring experience!

[2022-06-13 12:29] anderseknert opened #76 "Allow --capabilities option when checking Rego file"
The `opa.checkOnSave` option currently fails when working with custom builtin functions, and does not fail if builtin functions have been removed from provided capabilities, and so on..

It would be a nice addition if the check command was able to consider a capabilities.json file, provided either in the root of the project, or pointed at with a configuration option.

[2022-07-13 00:35] stevend-15 opened #78 "No syntax highlighting for raw strings in VSCode"
It seems the OPA extension on VSCode does not include syntax highlighting for raw string i.e.

![image](https://user-images.githubusercontent.com/66806985/178623481-ebc2f49d-db47-4f4f-a8e7-68a4576b145f.png)

Not sure what IDE was used in [this similar issue](https://github.com/open-policy-agent/opa-idea-plugin/issues/121) but I'm assuming it was not VSCode.

[2022-07-13 14:49] oren-zohar commented on #78
Sorry for not being clear, it was Pycharm.

[2022-07-28 18:47] bluebambu opened #79 "vscode-opa conflict with code formatter key binding"
Hi, previously I was working on .rego files with vscode-vim and python formatter, using vim "==" to do formatting and things are working. Today I tried to install vscode-opa and it disable the "==" operation. I uninstall vscode-opa and it works again. There is a conflict between them. Is there a solution to it?  Thanks.

[2022-07-29 13:18] bluebambu commented on #36
a note: if you want to setup the formatter of rego in settings, add

[code]

[2022-08-12 20:39] tsandall commented on #17
Now that we have the built-in function signatures available as a data source this is more feasible: https://github.com/open-policy-agent/opa/blob/main/builtin_metadata.json

[2022-08-31 09:08] DanielCastronovo opened #80 "vs-code error rego_parse_error: rule name conflicts with built-in function"
Hello,

I'm new on OPA, so i have followed the recommendations to use the vscode extension.

When i try to initiate a simplest policy, an error is generated on evaluate package.

`1 error occurred: /home/xxxx/opa-work/policy/policy.rego:3: rego_parse_error: rule name conflicts with built-in function
`
My policy :

[code]

[2022-08-31 09:35] anderseknert commented on #80
Hi @DanielCastronovo 👋 That policy evaluates fine in VS Code for me. Is this the policy.rego file the error message complains about? IIRC the whole directory is evaluated, so it's not always the file on is looking at which is the cause of the error.

[2022-08-31 09:47] anderseknert commented on #80
That's strange. Could it be that there's some weird non-visible character in there somewhere, like a non-breaking space? If you paste the code from your example above like I did, do you still see the error?

[2022-08-31 10:16] anderseknert commented on #80
Oh, _that_ was one ancient version :) No time wasted! Good you figured it out!

[2022-08-31 10:17] anderseknert commented on #80
If you don't mind me asking, since you're new to OPA/Rego, how did you get such an old version? Was it something you had installed from way back? Just want to ensure we don't point users to an old version for download somewhere in our docs!

[2022-09-08 16:47] Octogonapus opened #81 "Performance bug: Many OPA processes spawned during editing"
When editing a rego file and using operations like copy/pasting variable names around, or when using undo or redo, many opa processes are spawned (anywhere between 3 and 16 on my machine). This uses a large (or 100% depending) amount of CPU and a large amount of memory, lagging both vscode and my system. This occurs when editing small files (50 lines or less) in a small project (300 lines total).

[2022-09-09 20:35] anderseknert commented on #81
Hey @Octogonapus ! And thanks for reporting this. That's interesting 🤔 The commands launched by this plug-in should generally be very short lived... can you see which commands (i.e `opa eval`, `opa parse`, etc) are hanging, and which flags were passed to them?

[2022-09-09 21:17] Octogonapus commented on #81
For my test, I opened a rego file and copy-pasted a line a few times within the file. These processes were spawned:
[code]

I have had to redact folder/file names. I don't know why `--bundle=file:///home/salmon/Documents/a/b` is present; that doesn't make any sense to me. `opa.bundleMode` was set to its default value (presumably `true`); this appears to be the relevant feature flag. The feature fl

[2022-09-09 21:43] anderseknert commented on #81
Thank you! That's useful. That command indeed hangs "forever" unless input is provided:
[code]
I suppose the thing to investigate in the scope of this plugin would be why there's no input passed to the command.
In the scope of OPA, I think it would make sense to have a default timeout of a few seconds for this command, as it is not meant to run for a longer duration of time.

[2022-09-12 14:45] Octogonapus commented on #81
I think the problem here is that OPA is trying to read the contents of all the files in the bundle. E.g.
[code]

There are many such files in that bundle location. It's not feasible to load everything each time I make a code change. Is there a way to:
1. Configure caching so that the extension loads this data once?
2. Configure a file filter so that only rego files are loaded?

[2022-09-16 21:57] anderseknert commented on #81
Hmm, the "easy" way around it would probably be to just not load a workspace including lots of large binary files. Most OPA commands will allow you to specify an `--ignore` flag, but it doesn't look like it's there for the `oracle` command, which itself isn't really exposed "publicly" as an available command... it's AFAIK currently only used for this purpose. While it would be simple to add an `--

[2022-09-20 14:59] Octogonapus commented on #81
For now, I can make edits in a new workspace containing just the Rego code, though it would be helpful if I could continue using one large workspace as I am always working in multiple projects. Some of these projects do require having these large files in the workspace.

[2022-09-21 08:01] anderseknert commented on #81
That makes sense. I know some work is being prepared for https://github.com/open-policy-agent/opa/issues/4041 ... which would likely change a lot for the better, for VS Code integration and elsewhere... but it'll be a while, I'm sure.

[2022-11-11 16:28] tanmaysarin commented on #14
@Raghuvorkady to work with opa in VS code --

To use Evaluate Selection

Double click on the policy name, in your case, test

Now run Evaluate Selection It should work fine.

Refer to this website for more info: [link](https://sangkeon.github.io/opaguide/chap2/installandusage.html)

(Read chapter 2)

[2022-11-11 19:27] tanmaysarin commented on #14
I am only able to run the opa commands via VS code, and not via terminal on my windows 64bit machine.